body{
	background-color: #0a0a0a;
}

.fuente1{
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.fuente2{

	font-family: 'Bebas Neue', cursive;
	color: white;
	letter-spacing: 1px;
}

.fuente3{
	font-family: 'Anton', sans-serif;
	color: #f1c40f;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.fuente4{
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
}

.fuente5{
	font-family: 'Anton', sans-serif;
	color: #f1c40f;
	font-size: 50px;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.item{
    border-radius: 10px;
}
.item:hover{
    background-color: #f1c40f;
    color: #0a0a0a;
    cursor: pointer;
}

.item1{
	border-radius: 10px;
	color: #f1c40f;
}
.item1:hover{
	background-color: white;
	color: #0a0a0a;
	cursor: pointer;
}
	
img:hover {filter: saturate(150%);}


.btn-danger{
	background-color: #cf0a2c;
	border-color: #cf0a2c;
	color: white;
}

.btn-danger:hover{
	background-color: #f1c40f;
	border-color: #f1c40f;
	color: #0a0a0a;
}

footer{
    background-color: #231f20;
}

.icono-estilo{
	color: white;
	margin-right: 20px;
}

#estrella1{
	animation-name: primeraAnimacion;
	animation-duration: 10s;
	position: relative;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

#estrella2{
	animation-name: segundaAnimacion;
	animation-duration: 5s;
	position: relative;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes primeraAnimacion{
	0% {left: 0%; transform: scale(1);}
	50% {left: 35%; transform: scale(3);}
	100% {left: 0%; transform: scale(1);}
}

@keyframes segundaAnimacion{
	0% {left: 0%; transform: rotate(0deg);}
	50% {left: 30%; transform: rotate(280deg);}
	100% {left: 0%; transform: rotate(0deg);}
}

@media screen and (max-width: 1000px){
	body{
		background-color: #e67e22;
	}
}

@media screen and (max-width: 600px){
	body{
		background-color: #e74c3c;
	}
}